<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ihealth.sdk">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ABI"
            android:label="@string/title_activity_abi"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AMActivity"
            android:label="AM"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BG1"
            android:label="@string/title_activity_bg1"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BG5"
            android:label="@string/title_activity_bg5"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BP3L"
            android:label="@string/title_activity_bp3_l"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BP3M"
            android:label="@string/title_activity_bp3_m"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BP5"
            android:label="@string/title_activity_bp5"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BP7"
            android:label="@string/title_activity_bp7"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BP7S"
            android:label="@string/title_activity_bp7_s"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BP550BT"
            android:label="@string/title_activity_bp550_bt"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HS3"
            android:label="@string/title_activity_hs3"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HS4"
            android:label="@string/title_activity_hs4"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HS4S"
            android:label="@string/title_activity_hs4_s"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HS5BT"
            android:label="@string/title_activity_hs5_bt"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HS5wifi"
            android:label="@string/title_activity_hs5_wifi"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HS6"
            android:label="@string/title_activity_hs6"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PO3"
            android:label="@string/title_activity_po3"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BTM"
            android:label="@string/title_activity_btm"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".KD926"
            android:label="@string/title_activity_kd926"
            android:theme="@style/AppTheme.NoActionBar" />
        android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".TestActivity" />
        <activity
            android:name=".KD723"
            android:label="@string/title_activity_kd723"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ABPM"
            android:label="ABPM" />
        <activity
            android:name=".BG5l"
            android:label="@string/title_activity_bg5l"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ContinuaBP"
            android:label="ContinuaBP"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PressureTestActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".BPM1"></activity>
    </application>

</manifest>